<%= form_for [@deck, @card] do |f| %>
  <% if @card.errors.any? %>
    <div class="alert alert-block alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</strong>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :front %>
  <%= f.text_area :front, placeholder: "Type front...", rows: 3, class: "input-xxlarge" %>
  <%= f.label :back %>
  <%= f.text_area :back, placeholder: "Type back...", rows: 5, class: "input-xxlarge" %>
  <br />
  <%= f.button "Submit", class: "btn btn-primary" %>
<% end %>
