<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Listing cards</h1>
    </div>
    <%= form_tag deck_cards_path(@deck), method: :get, class: "form-search" do %>
      <%= search_field_tag :keyword , nil, placeholder: "Keyword", class: "input-medium search-query"%>
      <%= submit_tag "Search", class: "btn" %>
    <% end %>
    <p>
    <% if @keyword.present? %>
      <strong>Keyword: </strong><span class="label"><%= @keyword %></span>
      <strong>Results: </strong><span class="badge"><%= @cards.count %></span>
    <% end %>
    <%= link_to 'New Card', new_deck_card_path(@deck) %>
    </p>
    <%= will_paginate @cards %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Front</th>
          <th>Back</th>
          <th>Study Count</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @cards %>
      </tbody>
    </table>

    <br />

    <%= will_paginate @cards %>
  </div>
</div>
