<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @deck.title %>
</p>

<p>
  <b>Description:</b>
  <%= @deck.description %>
</p>

<p>
  <b>User:</b>
  <%= @deck.user_id %>
</p>


<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
