<% provide(:title, "Study " + @deck.title) %>
<div class="row">
  <div class="span12">
    <%if @card.present? %>
      <p>
      <%= display_card_status @card.status %>
      <strong>Count: </strong><%= display_card_study_count @card.study_count %>
      <strong>Cards: </strong><span class="badge"><%= @cards_count %></span></p>
      <hr>
      <div class="well">
        <h1><%= @card.front %></h1><br>
        <button type="button" class="btn" data-toggle="collapse" data-target="#back">
          Show Answer
        </button>
      </div>
      <div id="back" class="collapse">
        <div class="well">
          <p><strong><%= @card.back %></strong></p>
          <%= link_to_eijiro @card.front if Rails.env.staging? %>
        </div>
      </div>
      <p>
      <%= link_to 'Again', again_this_card_deck_path(@deck), class: "btn btn-mini btn-danger" %>
      <%= link_to 'Hard', tommorow_this_card_deck_path(@deck), class: "btn btn-mini btn-warning" %>
      <%= link_to 'Med', three_days_this_card_deck_path(@deck), class: "btn btn-mini btn-success" %>
      <%= link_to 'Easy', a_week_this_card_deck_path(@deck), class: "btn btn-mini btn-info" %>
      <%= link_to 'Almost', a_month_this_card_deck_path(@deck), class: "btn btn-mini btn-primary" %>
      <%= link_to 'Done', never_this_card_deck_path(@deck), class: "btn btn-mini btn-inverse" %>
      </p>
    <% else %>
      <h1>No card to study! Wow!</h1>
    <% end %>
  </div>
</div>
