
<%= @cards_count %>

<p>
  <b>front:</b>
  <%= @card.front %>
</p>

<p>
  <b>back:</b>
  <%= @card.back %>
</p>
<%= link_to 'Again', again_this_card_deck_path(@deck) %> |
<%= link_to 'Hard', tommorow_this_card_deck_path(@deck) %> |
<%= link_to 'Medium', three_days_this_card_deck_path(@deck) %> |
<%= link_to 'Easy', a_week_this_card_deck_path(@deck) %> |
<%= link_to 'Almost Done', a_month_this_card_deck_path(@deck) %> |
<%= link_to 'Done', never_this_card_deck_path(@deck) %> |
